@using MiraclesForMito.Models;

@model BlogPaginationModel

@{
    ViewBag.Title = "Miracles for Mito Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row public-blog-container main-page-section">

	<div class="col-md-12 col-lg-10 col-md-offset-0 col-lg-offset-1">

		<div class="row">
			
			<div class="col-sm-12 col-md-4 pull-right">
				@Html.Partial("~/Views/Blog/BlogSearchPartial.cshtml")
				@Html.Partial("~/Views/Blog/NewsletterFormPartial.cshtml")
				@Html.Partial("~/Views/Blog/BlogShareButtonsPartial.cshtml")
			</div>

			<div class="col-sm-12 col-md-8">

				<div id="BlogPostsPaginationContainer"
					class="clear-fix pagination-container"
					data-pageSize="@Model.PageSize"
					data-pageIndex="@Model.PageIndex"
					data-totalCount="@Model.TotalCount"
					data-ajaxUrl="@Model.AJAXUrl"
					data-additionalData="@Model.AdditionalData">

					<div class="pagination-body">
						@Html.Partial("~/Views/Blog/BlogPostsPaginationBody.cshtml", Model)
					</div>

					<div class="pagination-footer clear-fix">
						<a class="btn btn-default pagination-link pagination-link-next pull-right" href="javascript:void(0);">
							Next
							<span class="glyphicon glyphicon-chevron-right"></span>
						</a>
						<a class="btn btn-default pagination-link pagination-link-previous pull-right" href="javascript:void(0);">
							<span class="glyphicon glyphicon-chevron-left"></span>
							Previous
						</a>
					</div>

				</div>

			</div>

		</div>

	</div>

</div>


@section scripts
{
	<script type="text/javascript">
		$(function ()
		{
			$("#BlogSearchForm").on("submit", function ()
			{
				var $form = $(this);
				$form.attr("action", $form.attr("action") + $("#BlogSearchInput").val());
			});
		});
	</script>
}