@model MiraclesForMito.Models.Event

@{
    ViewBag.Title = "Event - " + Model.Name;
    ViewBag.IsHomePage = true;

    var sStartDate = Model.StartDate.HasValue ? Model.StartDate.Value.ToString("dddd, MMMM d h:mm tt") : null;
    var sEndDate = Model.EndDate.HasValue ? Model.EndDate.Value.ToString("dddd, MMMM d h:mm tt") : null;
}

<div class="row main-page-section">
    <div class="row">
        <div class="col-md-12">
            <ol class="breadcrumb">
                <li>@Html.ActionLink("Home", "Index", "Home")</li>
                <li>@Html.ActionLink("Events", "Index")</li>
                <li class="active">@Model.Name</li>
            </ol>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">@Model.Name</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            <dl class="dl-horizontal">
                                <dt>Description</dt>
                                <dd>@Html.Raw(Model.Description)</dd>
                                <dt>Location</dt>
                                <dd>@Model.VenueName</dd>
                                <dt>Start</dt>
                                <dd>@sStartDate</dd>
                                <dt>End</dt>
                                <dd>@sEndDate</dd>
                                <dt>Address</dt>
                                <dd>
                                    <address>
                                        @Model.Address<br />
                                        @string.Format("{0}, {1} {2}", Model.City, Model.State, Model.Zip)
                                    </address>
                                </dd>
                                <dt>Contact</dt>
                                <dd>
                                    @Model.ContactName<br />
                                    @Model.ContactNumber<br />
                                    <a href="mailto:@Model.ContactEmail">@Model.ContactEmail</a>
                                </dd>
                                <dt>&nbsp;</dt>
                                <dd>
                                    @if (!string.IsNullOrEmpty(Model.RegistrationLink))
                                    {
                                        <a class="btn btn-primary btn-medium" target="_blank" href="@Model.RegistrationLink">Register</a>
                                    }
                                    else
                                    {
                                        @:Please check back later for the registration link.   
                                    }
                                </dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>