@model MiraclesForMito.Models.Event

@{
    ViewBag.Title = "Detail";
}

<h2>EventDetail</h2>

<fieldset>
    <legend>Event</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StartDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StartDateMS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartDateMS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EndDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EndDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EndDateMS)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EndDateMS)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VenueName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VenueName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.City)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.City)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.State)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.State)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Zip)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Zip)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ContactNumber)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContactNumber)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ContactName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContactName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ContactEmail)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ContactEmail)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RegistrationLink)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RegistrationLink)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Link)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Link)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
