@using MiraclesForMito.Models;
@using System;

@model EventPaginationModel

<div class="row main-page-section">
	<div class="col-md-12">
		@if (Model.SortedAndFilteredEvents.Count() == 0)
		{
			<h3>@Model.NoEventsMessage</h3>
		}
		else
		{
			int iCounter = 0;
			foreach (Event mitoEvent in Model.SortedAndFilteredEvents)
			{
				if (iCounter == 0)
				{
					@Html.Raw("<div class=\"row\">")
				}
				else if (iCounter > 0 && iCounter % 3 == 0)
				{
					@Html.Raw("</div><div class=\"row\">")
				}

				@Html.Partial("~/Views/Events/EventDisplayAllPartial.cshtml", mitoEvent)

				iCounter++;
			}

			@Html.Raw("</div>")
		}
	</div>
</div>