@using MiraclesForMito.Models;
@{
	SiteDB db = new SiteDB();
}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
		<link href="//fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
        @Styles.Render("~/Content/")
		@Styles.Render("~/Content/css")
		<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
		<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		  <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
		<![endif]-->
		<script>
			if (navigator.userAgent.match(/IEMobile\/10\.0/))
			{
				var msViewportStyle = document.createElement("style");

				msViewportStyle.appendChild(
					document.createTextNode(
						"@@-ms-viewport{width:auto!important}"
					)
				);

				document.getElementsByTagName("head")[0].appendChild(msViewportStyle);
			}
		</script>
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    </head>
    <body>
		
        <div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
					@RenderBody()
				</div>
			</div>
        </div>

		<script type="text/javascript">
			@Html.Raw(MiraclesForMito.Utilities.Util.ResolveUrlInlineScript)
		</script>

        @Scripts.Render("~/bundles/js/vendor")
		@Scripts.Render("~/bundles/js/admin")
        @RenderSection("scripts", required: false)
    </body>
</html>
